:root {
  /* 색상 목록 */
  --yellow: #FFD213;
  --darkblue: #041F4A;
  --blue: #052962;
  --lightblue: #506991;
  --red: #C70000;
  --darkpink: #b63f2f;
  --sport-blue: #0077B6;
  --black: #121212;
  --gray-card-on: #EDEDED;
  --gray-text: #707070;
  --background-gray: #F6F6F6;
  --purple: #4A38A4;
  --pink: #F1C8E0;
  --yellow-tip-us-off: #FFE500;
  --white: #ffffff;

  /* 글꼴 */
  --font-headline: 'GH Guardian Headline';
  --font-egyptian: 'Guardian Egyptian Web';
  --font-sans: 'GuardianTextSans';
  --font-title: 'GT Guardian Titlepiece';

  /* 가로 너비 */
  --width-main: 1300px;
  --width-image-big: 65.5%;
  --width-image-small: 100%;
  --width-image-verysmall: 150px;
  --width-textbox-33: 33%;

  /* 그리드 채우기 */
  --grid-category: 1/4;
  --grid-big-articles: 4/13;
  --grid-middle-articles-1: 4/10;
  --grid-middle-articles-2: 10/16;
  --grid-small-articles-1: 4/7;
  --grid-small-articles-2: 7/10;
  --grid-small-articles-3: 10/13;
  --grid-small-articles-4: 13/16;
  --grid-long-articles: 4/10;
}

/* 진짜 본문 */

body {
  color: var(--black);
  font-family: var(--font-headline);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  background-color: var(--white);
}

.category {
  font-family: var(--font-title);
  font-size: 24px;
}

header {
  background-color: var(--blue);
  height: 185px;
  width: 100%;
  top: 0;

}

header .container__up {
  background-color: var(--darkblue);
  height: 35px;
}

header .container__up .sub-menu {
  height: 35px;
  width: var(--width-main);
  display: flex;
  align-items: center;
  margin: auto;
  padding-right: 100px;
  box-sizing: border-box;
  justify-content: flex-end;
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

header .container__up .sub-menu a {
  color: var(--white);
  width: fit-content;
  padding: 0 10px;
  text-decoration: none;
  border-left: 1px solid var(--lightblue);
}

header .container__up .sub-menu a:first-child {
  border-left: none;
  color: var(--yellow);
}

header .container__up .sub-menu a:last-child {
  border-left: none;
  padding-right: 0;
}

header .container__up .sub-menu .items .material-icons {
  font-size: 20px;
  font-weight: 400;
  vertical-align: text-bottom;
}

header .container__down {
  width: var(--width-main);
  height: 150px;
  background-color: var(--blue);
  position: relative;
  margin: auto;
}

header .container__down .item__left {
  position: absolute;
  top: 3px;
  left: 10px;
  color: var(--black);
}

header .container__down .item__left .item:nth-child(1) {
  height: fit-content;
  padding: 5px 0;
  font-family: var(--font-title);
  font-size: 34px;
  color: var(--yellow);
}

header .container__down .item__left .item:nth-child(2) {
  height: fit-content;
  padding: 5px 0 15px 0;
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 17px;
  color: var(--white);
}

header .container__down .item__left .item:nth-child(3) {
  width: 120px;
  height: fit-content;
  padding: 8px 12px;
  border-radius: 24px;
  background-color: var(--yellow);
  text-align: center;
}

header .container__down .item__left .item:nth-child(3) a {
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 17px;
  color: var(--black);
}

header .container__down .item__left .item:nth-child(3) a .material-icons {
  font-size: 20px;
  vertical-align: text-bottom;
}

header .container__down .item__right {
  position: absolute;
  top: 10px;
  right: 100px;
}

/* 뉴스 내비게이터 */

nav {
  background-color: var(--blue);
  height: 42px;
  margin: auto;
  box-sizing: border-box;
}

nav .footer__nav-container {
  width: var(--width-main);
  height: 42px;
  margin: auto;
  display: flex;
  border-top: 1px solid var(--lightblue);
  border-left: 1px solid var(--lightblue);
  border-right: 1px solid var(--lightblue);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

nav .footer__nav-container .item__list {
  width: 100%;
  height: fit-content;
  border-right: 1px solid var(--lightblue);
  flex-grow: 1;
  flex-basis: 0;
  padding: 9px 0 0 9px;
  box-sizing: border-box;
  position: relative;
}

nav .footer__nav-container .item__list a {
  color: var(--white);
  font-family: var(--font-headline);
  font-weight: 700;
  font-size: 24px;
  display: block;
  width: 100%;
  height: 100%;
}

nav .footer__nav-container .item__list:nth-child(1) .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #FF5943;
}

nav .footer__nav-container .item__list:nth-child(2):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #FF7F0F;
  transition: 0.3s;
}

nav .footer__nav-container .item__list:nth-child(3):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #00B2FF;
  transition: 0.3s;
}

nav .footer__nav-container .item__list:nth-child(4):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #EACCA0;
  transition: 0.3s;
}

nav .footer__nav-container .item__list:nth-child(5):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 6px solid #FFABDB;
  transition: 0.3s;
}

nav .footer__nav-container .item__list:last-child {
  border-right: none;
  box-sizing: border-box;
  flex-grow: 3;
  display: flex;
}

nav .footer__nav-container .item__list:last-child a {
  font-family: var(--font-headline);
  font-weight: 100;
  display: flex;
}

nav .footer__nav-container .item__list:last-child a:hover {
  color: var(--yellow);
}

/* aside 영역 */

aside {
  height: 42px;
  padding: 0 5px;
  position: relative;
  box-sizing: border-box;
  position: relative;
}

aside .container {
  height: 42px;
  width: var(--width-main);
  margin: auto;
  border-right: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  box-sizing: border-box;
}

aside ul {
  height: 42px;
  display: flex;
}

aside ul .items {
  height: 100%;
  white-space: nowrap;
  display: block;
}

aside a {
  text-decoration: none;
  display: block;
  height: 100%;
  justify-content: center;
  line-height: 42px;    
  margin: 0 5px;
  padding: 0 5px;
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--font-sans);
  font-weight: 200;
  font-size: 16px;
}

aside .lines {
  display: block;
  height: 5px;
  width: var(--width-main);
  margin: auto;
  border-bottom: 1px solid #DCDCDC;
  box-sizing: border-box;  
}

/* 기사 콘테이너별 속성 */
section {
  width: var(--width-main);
  border: 1px solid var(--gray-card-on);
  border-top: transparent;
  padding-top: 17px;
  padding-bottom: 30px;
  box-sizing: border-box;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10, auto);
  column-gap: 20px;
}

/* 옆구리에 들어가는 뉴스 카테고리 */
.item__category {
  grid-column: var(--grid-category);
  grid-row: 1/11;
  font-family: var(--font-title);
  font-size: 24px;
  background-color: transparent;
  margin: 5px 0 0 25px;
  position: relative;
}

.item__articles {
  background-color: var(--background-gray);
  border-top: 2px solid var(--red);
  margin: 5px 0 10px 0;
  box-sizing: border-box;
  position: relative;
}

.item__articles::before {
  content: "";
  position: absolute;
  right: -10px;
  height: 100%;
  border-right: 1px solid var(--gray-card-on);
}

.item__articles:hover {
  filter: brightness(0.95);
}

.details {
  position: relative;
}

.big-article {
  display: flex;
  justify-content: space-between;
}

.middle-article {
  display: block;
}

.mini-detail {
  display: flex;
}

.mini-detail-box {
  width: 230px;
  padding: 20px 5px 5px 5px;
  justify-content: space-between;
  font-size: 15px;
}

.mini-detail-box::before {
  content: "";
  width: 120px;
  border-top: 1px solid #cccccc;
  padding-top: 6px;
  position: absolute;
}

.mini {
  width: 100%;
  height: 100%;
  padding-top: 7px;
}

.mini:hover {
  text-decoration: underline;
}

.mini-detail-box a {
  color: var(--black);
}

.mini span {
  color: var(--red);
  font-weight: 900;
}

.texts {
  width: auto;
  padding: 0 5px;
}

.container .item__articles .details .big-article .texts {
  width: 30%;
}

.title {
  /* 큰 제목 */
  font-family: var(--font-headline);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.3;
}

.title-middle {
  /* 큰 제목, 중간 사이즈 */
  font-family: var(--font-headline);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.title-small {
  /* 큰 제목, 작은 사이즈 */
  font-family: var(--font-headline);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.3;
}

.subtitle {
  font-family: var(--font-headline);
  font-weight: 500;
  font-size: 22px;
  color: var(--black);
  line-height: 1.3;
  margin-bottom: 8px;
}

.subtitle-italic {
  font-family: var(--font-headline);
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 8px;
}

.subtitle-middle {
  font-family: var(--font-headline);
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
  line-height: 1.2;
  margin-bottom: 8px;
}

.subtitle-small {
  font-family: var(--font-headline);
  font-weight: 500;
  font-size: 17px;
  color: var(--black);
  line-height: 1.2;
  margin-bottom: 8px;
}

.explanation {
  font-family: var(--font-headline);
  font-weight: 500;
  font-size: 15px;
  color: var(--black);
  line-height: 1.3;
  margin-bottom: 8px;
}

.time {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 12px;
  color: var(--gray-text);
  padding-bottom: 5px;
}

.details .lines {
  height: 5px;
  margin: auto;
  border-bottom: 1px solid #DCDCDC;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  width: fit-content;
}

.thumnail-big {
  width: 66%;
}

.thumnail-big img {
  width: 100%;
}

.thumnail-middle img {
  width: 100%;
}

.thumnail-small img {
  width: 100%;
}

.thumnail-very-small img {
  width: 150px;
}

/* 기사 상자 */

.small-article {
  display: block;
}

.long-article {
  display: flex;
}

/* 중간 광고 */
.advertisement {
  height: 300px;
  background-color: var(--background-gray);
  display: flex;
}

.advertisement .ad-box {
  width: var(--width-main);
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertisement .ad-box .add-text {
  font-family: var(--font-egyptian);
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 1.6;
  letter-spacing: 20px;
}

/* 라이브 텍스트 */

.live {
  color: var(--red);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

/* 이하 깜빡임 효과는 배운 바가 없어서 인터넷 검색으로 찾아 붙여넣기한 뒤 일부 수정을 거쳤습니다. */
/* 출처 주소: https://lionbum.tistory.com/101 */

.live::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--red);
  border-radius: 50%;
  margin-right: 5px;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 붙여넣기 끝 */

/* 섹션: 헤드라인 */

#headlines .texts {
  color: var(--red);
}

#headlines .container .item__category .item__category-text {
  border-right: 1px solid var(--gray-card-on);
  margin-bottom: 20px;
}

#headlines .container .item__category .item__weather .weather-location {
  width: 95%;
  font-family: var(--font-sans);
  font-size: 17px;
  padding: 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid var(--gray-card-on);
}

#headlines .container .item__category .item__weather .weather-now {
  width: 95%;
  height: 70px;
  display: flex;
  border-bottom: 1px solid var(--gray-card-on);
}

#headlines .container .item__category .item__weather .weather-now .material-icons {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: var(--gray-text);
  margin: 5px 10px 0 0;
  box-sizing: border-box;
}

#headlines .container .item__category .item__weather .weather-now .weather-now-text {
  color: var(--black);
}

#headlines .container .item__category .item__weather .weather-now .weather-now-text .now {
  margin: 0 0 5px 0;
  font-family: var(--font-sans);
  font-size: 15px;
}

#headlines .container .item__category .item__weather .weather-now .weather-now-text .temperture {
  font-family: var(--font-sans);
  font-size: 30px;
}

#headlines .container .item__category .item__weather .weather-time {
  width: 95%;
  display: flex;
}

#headlines .container .item__category .item__weather .weather-time-detail {
  width: 100%;
  display: block;
  font-family: var(--font-sans);
  line-height: 1.4;
  border-right: 1px solid var(--gray-card-on);
  padding: 5px 0 0 3px;
  box-sizing: border-box;
}

#headlines .container .item__category .item__weather .weather-time-detail:last-child .material-icons {
  color: orange;
}

#headlines .container .item__category .item__weather .weather-time-detail:last-child {
  border-right: none;
}

#headlines .container .item__category .item__weather .weather-time-detail .detail-time {
  font-size: 13px;
  letter-spacing: -0.5px;
}

#headlines .container .item__category .item__weather .weather-time-detail .detail-temperture {
  font-size: 18px;
}

#headlines .container .item__category .item__weather .weather-time-detail .material-icons {
  width: 30px;
  font-size: 28px;
  color: var(--gray-text);
}

#headlines .container .item__category .item__weather .item-forecast {
  width: 95%;
  margin: 20px 0 0 0;
}

#headlines .container .item__category .item__weather .item-forecast .forecast-detail {
  color: var(--black);
  display: flex;
  font-family: var(--font-sans);
  font-size: 15px;
  align-items: center;
}

#headlines .container .item__category .item__weather .item-forecast .forecast-detail .forecast {
  margin-right: 5px;
}

#headlines .container .item__category .item__weather .item-forecast .forecast-detail .icon {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

#headlines .container .item__category .item__weather .item-forecast .forecast-detail .icon .material-icons {
  color: var(--white);
  font-size: 16px;
  background-color: transparent;
}

#headlines .container .item__category .item__small-btn {
  width: 100%;
  position: absolute;
  bottom: 15px;
}

#headlines .container .item__category .item__small-btn .btn-detail {
  display: flex;
  padding: 8px;
  margin: 10px 0 0 0;
  border-top: 1px solid var(--gray-card-on);
  border-left: 1px solid var(--gray-card-on);
}

#headlines .container .item__category .item__small-btn a {
  color: var(--black);
  font-family: var(--font-sans);
  font-size: 12px;
  font-weight: 500;
}

/* headline의 기사 영역 */

#headlines .container .item__articles:nth-child(2) {
  grid-column: var(--grid-big-articles);
}

#headlines .container .item__articles:nth-child(3) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(3)::before {
  border: none;
}

#headlines .container .item__articles:nth-child(4) {
  grid-column: var(--grid-middle-articles-1);
  grid-row: 2 /7;
}

#headlines .container .item__articles:nth-child(4) .mini-detail-box {
  width: 100%;
}

#headlines .container .item__articles:nth-child(5) {
  grid-column: var(--grid-small-articles-3);
  grid-row: 2/5;
}

#headlines .container .item__articles:nth-child(6) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(6)::before {
  border: none;
}

#headlines .container .item__articles:nth-child(7) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(7)::before {
  border: none;
}

#headlines .container .item__articles:nth-child(8) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(8)::before {
  border: none;
}

#headlines .container .item__articles:nth-child(9) {
  grid-column: var(--grid-small-articles-3);
}

#headlines .container .item__articles:nth-child(10) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(10)::before {
  border: none;
}

#headlines .container .item__articles:nth-child(11) {
  grid-column: var(--grid-small-articles-3);
}

#headlines .container .item__articles:nth-child(12) {
  grid-column: var(--grid-small-articles-4);
}

#headlines .container .item__articles:nth-child(12)::before {
  border: none;
}

/* section: news in focus  */

#news-in-focus .texts {
  color: #866D50;
}

#news-in-focus span {
  color: #866D50;
}

#news-in-focus .subtitle-italic {
  color: var(--red)
}

#news-in-focus .item__articles {
  border-top: 2px solid #866D50;
}

#news-in-focus .container .item__articles:nth-child(2) {
  grid-column: var(--grid-middle-articles-1);
}

#news-in-focus .container .item__articles:nth-child(3) {
  grid-column: var(--grid-small-articles-3);
}

#news-in-focus .container .item__articles:nth-child(4) {
  grid-column: var(--grid-small-articles-4);
}

#news-in-focus .container .item__articles:nth-child(4)::before {
  border: none;
}

#news-in-focus .container .item__articles:nth-child(5) {
  grid-column: var(--grid-small-articles-1);
}

#news-in-focus .container .item__articles:nth-child(6) {
  grid-column: var(--grid-small-articles-2);
}

#news-in-focus .container .item__articles:nth-child(7) {
  grid-column: var(--grid-small-articles-3);
}

#news-in-focus .container .item__articles:nth-child(8) {
  grid-column: var(--grid-small-articles-4);
}

#news-in-focus .container .item__articles:nth-child(8)::before {
  border: none;
}

/* section: Spotlight  */

#spotlight .texts {
  color: var(--darkpink);
}

#spotlight span {
  color: var(--darkpink);
}

#spotlight .item__articles {
  border-top: 2px solid var(--darkpink);
}

#spotlight .container .item__articles:nth-child(2) {
  grid-column: var(--grid-middle-articles-1);
}

#spotlight .container .item__articles:nth-child(3) {
  grid-column: var(--grid-small-articles-3);
}

#spotlight .container .item__articles:nth-child(4) {
  grid-column: var(--grid-small-articles-4);
}

#spotlight .container .item__articles:nth-child(4)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(5) {
  grid-column: var(--grid-long-articles);
}

#spotlight .container .item__articles:nth-child(5)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(6) {
  grid-column: var(--grid-small-articles-3);
  grid-row: 2/7;
  position: relative;
}

#spotlight .container .item__articles:nth-child(6)::before {
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 1px solid var(--gray-card-on);
}

#spotlight .container .item__articles:nth-child(7) {
  grid-column: var(--grid-small-articles-4);
  grid-row: 2/7;
}

#spotlight .container .item__articles:nth-child(7)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(8) {
  grid-column: var(--grid-long-articles);
}

#spotlight .container .item__articles:nth-child(8)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(9) {
  grid-column: var(--grid-long-articles);
}

#spotlight .container .item__articles:nth-child(9)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(10) {
  grid-column: var(--grid-long-articles);
}

#spotlight .container .item__articles:nth-child(10)::before {
  border: none;
}

#spotlight .container .item__articles:nth-child(11) {
  grid-column: var(--grid-long-articles);
}

#spotlight .container .item__articles:nth-child(11)::before {
  border: none;
}

/* section: Sports */

#sport .texts {
  color: var(--sport-blue);
}

#sport span {
  color: var(--sport-blue);
}

#sport .item__articles {
  border-top: 2px solid var(--sport-blue);
}

#sport .container .item__articles:nth-child(2) {
  grid-column: var(--grid-big-articles);
}

#sport .container .item__articles:nth-child(3) {
  grid-column: var(--grid-small-articles-4);
}

#sport .container .item__articles:nth-child(3)::before {
  border: none;
}

#sport .container .item__articles:nth-child(4) {
  grid-column: var(--grid-long-articles);
}

#sport .container .item__articles:nth-child(4)::before {
  border: none;
}

#sport .container .item__articles:nth-child(5) {
  grid-column: var(--grid-small-articles-3);
  grid-row: 2/7;
  position: relative;
}

#sport .container .item__articles:nth-child(5)::before {
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 1px solid var(--gray-card-on);
}

#sport .container .item__articles:nth-child(6) {
  grid-column: var(--grid-small-articles-4);
  grid-row: 2/7;
}

#sport .container .item__articles:nth-child(6)::before {
  border: none;
}

#sport .container .item__articles:nth-child(7) {
  grid-column: var(--grid-long-articles);
}

#sport .container .item__articles:nth-child(7)::before {
  border: none;
}

#sport .container .item__articles:nth-child(8) {
  grid-column: var(--grid-long-articles);
}

#sport .container .item__articles:nth-child(8)::before {
  border: none;
}

#sport .container .item__articles:nth-child(9) {
  grid-column: var(--grid-long-articles);
}

#sport .container .item__articles:nth-child(9)::before {
  border: none;
}

#sport .container .item__articles:nth-child(10) {
  grid-column: var(--grid-long-articles);
}

#sport .container .item__articles:nth-child(11) {
  grid-column: var(--grid-long-articles);
}

/* section: tip us off */

#tip-us-off {
  height: 59px;
  background-color: var(--yellow-tip-us-off);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

#tip-us-off .container {
  height: inherit;
  padding: 0;
  margin: 0;
}

#tip-us-off .container .item__category {
  padding: 5px 0 0 25px;
  margin: 0;
}

#tip-us-off .container .item__articles {
  height: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

#tip-us-off .container .item__articles:nth-child(2) {
  background-color: var(--yellow-tip-us-off);
  font-family: var(--font-headline);
  font-weight: 100;
  font-size: 32px;
  grid-column: 4/16;
}

#tip-us-off .container .item__articles:nth-child(2)::before {
  border: none;
}

#tip-us-off .container .item__articles:nth-child(2):hover {
  filter: none;
}

#tip-us-off .container .item__articles:nth-child(2) .items a .item-btn {
  color: var(--black);
  display: flex;
  align-items: center;
}

#tip-us-off .container .item__articles:nth-child(2) .eyes {
  width: 35px;
  margin-right: 45px;
  margin-left: 5px;
  display: flex;
}

#tip-us-off .container .item__articles:nth-child(2) .eyes img {
  padding: 5px 5px 0 0;
  box-sizing: border-box;
}

#tip-us-off .container .item__articles:nth-child(2) .items a .item-btn-text {
  position: relative;
  padding-bottom: 6px;
}

#tip-us-off .container .item__articles:nth-child(2) .items a .item-btn-text:hover .underline {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--gray-text);
  box-sizing: border-box;
}

#tip-us-off .container .item__articles:nth-child(2) .material-icons {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  border-radius: 30px;
  background-color: var(--white);
}

#tip-us-off .container .item__articles:nth-child(3) {
  width: 100%;
  grid-column: 16/17;
  background-color: var(--yellow-tip-us-off);
}

#tip-us-off .container .item__articles:nth-child(3):hover {
  filter: none;
}

#tip-us-off .container .item__articles:nth-child(3) .image img {
  padding: 3px 0 0 10px;
  width: 30px;
  height: 30px;
}

/* section: 워디플라이 */

#wordiply {
  height: 154px;
  background-color: var(--purple);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

#wordiply .container {
  height: inherit;
  padding: 0;
}

/* 로고 이미지 */

#wordiply .container .item__category {
  height: 140px;
  margin: 0;
  border-right: 1px solid var(--pink);
  box-sizing: border-box;
  grid-column: 1/4;
}

#wordiply .container .item__category:hover {
  filter: none;
}

#wordiply .container .item__category .item-logo img {
  width: 120px;
  padding: 8px;
}

/* 텍스트 및 버튼 영역 */

#wordiply .container .item__articles:nth-child(2) {
  width: 100%;
  grid-column: 4/10;
  padding-top: 10px;
  display: block;
  position: relative;
}

#wordiply .container .item__articles:nth-child(2):hover {
  filter: none;
}

#wordiply .container .item__articles:nth-child(2)::before {
  border: none;
}

#wordiply .container .item__articles {
  width: 100%;
  height: inherit;
  background-color: var(--purple);
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

#wordiply .container .item__articles .item-text {
  color: var(--pink);
  font-size: 24px;
  line-height: 1.3;
}

#wordiply .container .item__articles .item-btn {
  color: var(--pink);
  width: 115px;
  height: 42px;
  font-family: var(--font-egyptian);
  font-weight: 700;
  font-size: 18px;
  border-radius: 24px;
  background-color: var(--purple);
  border: 1px solid var(--pink);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  line-height: 36px;
  transition: 0.3s;
  position: absolute;
  bottom: 15px;
}

#wordiply .container .item__articles .item-text .item-btn .item-btn-text {
  margin-left: 5px;
}

#wordiply .container .item__articles .item-btn .material-icons {
  margin-left: 5px;
  line-height: 40px;
  font-size: 28px;

}

#wordiply .container .item__articles .item-btn:hover {
  color: var(--purple);
  background-color: var(--pink);
  border: 1px solid var(--purple);
  box-sizing: border-box;
}

/* 이미지 영역 */

#wordiply .container .item__articles:nth-child(3) {
  grid-column: 10/17;
}

#wordiply .container .item__articles:nth-child(3):hover {
  filter: none;
}

#wordiply .container .item__articles:nth-child(3) .image {
  width: 100%;
  height: 100%;
  position: relative;
}

#wordiply .container .item__articles:nth-child(3) img {
  width: 100%;
  position: absolute;
  top: -90px;
}

/* Podcast 영역 */

#podcasts .container .item__category {
  grid-column: 1/3;
}

#podcasts .container .swiper {
  grid-column: 3/17;
  width: 92.2%;
  border: none;
  display: flex;
  justify-content: space-between;
  filter: none;
  position: relative;
  padding: 0 45px;
  overflow: hidden;
}

#podcasts .container .swiper::before {
  border: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

#podcasts .container .swiper .swiper-button-prev .btn__container-arrow {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--black);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#podcasts .container .swiper .swiper-button-prev .btn__container-arrow:hover {
  background-color: var(--yellow);
  color: var(--white);
}

#podcasts .container .swiper .swiper-button-prev .btn__container-arrow .material-icons {
  font-size: 25px;
  color: var(--white);
}

#podcasts .container .swiper .swiper-button-next .btn__container-arrow {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--black);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#podcasts .container .swiper .swiper-button-next .btn__container-arrow:hover {
  background-color: var(--yellow);
}

#podcasts .container .swiper .swiper-button-next .btn__container-arrow .material-icons {
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}

.swiper .swiper-pagination {
  background-color: blue;
}

#podcasts .container .swiper .swiper-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

#podcasts .container .swiper .swiper-wrapper .swiper-slide {
  width: fit-content;
  border-right: 1px solid var(--gray-card-on);
}

#podcasts .container .swiper .swiper-wrapper .swiper-slide a:hover {
  filter: brightness(0.9);
}

.swiper-slide .box__detail {
  width: 220px;
  height: 390px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: #333333;
  position: relative;
}

.swiper-slide .box__detail .textbox {
  padding: 3px 5px;
  box-sizing: border-box;
}

.swiper-slide .box__detail .box-title {
  color: #E59AC5;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

.swiper-slide .box__detail .box-subtitle {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.swiper-slide .box__detail .podcast__icon-box {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 7px 0;
  color: #333333;
  background-color: #E59AC5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide .box__detail .podcast__icon-box .material-icons {
  font-size: 20px;
}

.swiper-slide .box__detail .textbox .box-time {
  color: var(--gray-card-on);
  font-family: var(--font-sans);
  font-size: 13px;
  position: absolute;
  bottom: 7px;
}

/* 나머지 기사 영역 */

/* 컨테이너 2~4  */
.swiper-slide:nth-child(2) .box__detail .box-title {
  color: #E58274;
}

.swiper-slide:nth-child(2) .box__detail .podcast__icon-box {
  background-color: #E58274;
}

.swiper-slide:nth-child(3) .box__detail .box-title {
  color: #E58274;
}

.swiper-slide:nth-child(3) .box__detail .podcast__icon-box {
  background-color: #E58274;
}

.swiper-slide:nth-child(4) .box__detail .box-title {
  color: #E58274;
}

.swiper-slide:nth-child(4) .box__detail .podcast__icon-box {
  background-color: #E58274;
}

/* 컨테이너 5  */
.swiper-slide:nth-child(5) .box__detail .box-title {
  color: #82C6E5;
}

.swiper-slide:nth-child(5) .box__detail .podcast__icon-box {
  background-color: #82C6E5;
}

/* 컨테이너 6~7  */

.swiper-slide:nth-child(6) .box__detail .box-title {
  color: #E58274;
}

.swiper-slide:nth-child(6) .box__detail .podcast__icon-box {
  background-color: #E58274;
}

#podcasts .container .swiper .swiper-wrapper .swiper-slide:nth-child(7) {
  border: none;
}

.swiper-slide:nth-child(7) .box__detail .box-title {
  color: #E58274;
}

.swiper-slide:nth-child(7) .box__detail .podcast__icon-box {
  background-color: #E58274;
}

/* section: most-viewed*/

#most-viewed {
  padding: 0 0 20px 0;
}

#most-viewed .container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, auto);
  column-gap: 0;
}

#most-viewed .container .item__articles {
  border-top: 1px solid var(--gray-card-on);
  border-left: 1px solid var(--gray-card-on);
  border-bottom: none;
  border-right: none;
  margin: 0;
  padding: 5px 8px 10px 8px;
  background-color: var(--white);
  box-sizing: border-box;
}

#most-viewed .container .item__articles:hover {
  filter: brightness(0.95);
}

#most-viewed .container .item__articles .details .long-article {
  justify-content: center;
}

#most-viewed .container .item__articles .details .number {
  color: var(--black);
  width: 60px;
  height: fit-content;
  margin: 0;
  font-family: var(--font-headline);
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -5px;
  position: relative;
}

#most-viewed .container .item__articles .details .number .particle {
  position: absolute;
  top: -10px;
}

/* 기사 시작 */

#most-viewed .container .item__articles:nth-child(2) {
  border-top: none;
  grid-column: 4/9;
  order: 1;
}

#most-viewed .container .item__articles:nth-child(3) {
  grid-column: 4/9;
  order: 4;
}

#most-viewed .container .item__articles:nth-child(4) {
  border-top: none;
  grid-column: 14/19;
  grid-row: 1/6;
  order: 3;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#most-viewed .container .item__articles:nth-child(4)::before {
  border: none;
}

#most-viewed .container .item__articles:nth-child(4) a .details {
  width: 100%;
  height: 100%;
}

#most-viewed .container .item__articles:nth-child(4):hover {
  filter: none;
}

#most-viewed .container .item__articles:nth-child(4) .details .thumnail-very-small {
  padding: 0;
  margin: 0;
}

#most-viewed .container .item__articles:nth-child(4) .details .subtitle-small {
  font-family: var(--font-egyptian);
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.6;
}

#most-viewed .container .item__articles:nth-child(5) {
  grid-column: 4/9;
  order: 6;
}

#most-viewed .container .item__articles:nth-child(5)::before {
  border: none;
}

#most-viewed .container .item__articles:nth-child(6) {
  grid-column: 4/9;
  order: 8;
}

#most-viewed .container .item__articles:nth-child(7) {
  grid-column: 4/9;
  order: 10;
}

#most-viewed .container .item__articles:nth-child(8) {
  border-top: none;
  grid-column: 9/14;
  order: 2;
}

#most-viewed .container .item__articles:nth-child(9) {
  grid-column: 9/14;
  order: 5;
}

#most-viewed .container .item__articles:nth-child(9)::before {
  border: none;
}

#most-viewed .container .item__articles:nth-child(10) {
  grid-column: 9/14;
  order: 7;
}

#most-viewed .container .item__articles:nth-child(10)::before {
  border: none;
}

#most-viewed .container .item__articles:nth-child(11) {
  grid-column: 9/14;
  order: 9;
}

#most-viewed .container .item__articles:nth-child(11)::before {
  border: none;
}

#most-viewed .container .item__articles:nth-child(12) {
  grid-column: 9/14;
  order: 11;
}

#most-viewed .container .item__articles:nth-child(12)::before {
  border: none;
}

/* #most-viewed의 마지막 줄 */

#most-viewed .bottom {
  padding: 20px 20px 0 20px;
}

#most-viewed .bottom .explore {
  color: var(--gray-text);
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
}

#most-viewed .bottom .bottom-item__btn {
  display: flex;
}

#most-viewed .bottom .bottom-item__btn .btn {
  margin: 3px 6px 3px 0;
}

#most-viewed .bottom .bottom-item__btn .btn a {
  color: var(--gray-text);
  font-size: 13px;
}

#most-viewed .bottom .bottom-item__btn .btn a .btn-text {
  width: inherit;
  height: inherit;
  padding: 6px 8px;
  border: 1px solid var(--gray-text);
  font-family: var(--font-sans);
  border-radius: 20px;
  box-sizing: border-box;
}

/* footer 영역 */
footer {
  height: fit-content;
  background-color: var(--blue);
  display: block;
}

/* footer-aside */

.aside-long-container {
  background-color: var(--white);
}

.footer-aside {
  width: var(--width-main);
  height: 42px;
  margin: auto;
  padding: 0 5px;
  box-sizing: border-box;
  border: 1px solid var(--gray-card-on);
  background-color: var(--white);
}

.footer-aside .container {
  height: 42px;
  padding: 0 5px;
  margin-right: 15px;
  display: flex;
  box-sizing: border-box;
}

.footer-aside .container a {
  line-height: 42px;
  height: 42px;
  color: var(--black);
  font-family: var(--font-sans);
  font-weight: 200;
  font-size: 16px;
}

/* footer-background */

.footer-background {
  width: var(--width-main);
  height: 42px;
  margin: auto;
  box-sizing: border-box;
}

.footer-background .footer__nav-container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid var(--lightblue);
  border-top: none;
  border-bottom: 0;
}

.footer-background .footer__nav-container .item__list {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  border-right: 1px solid var(--lightblue);
  border-bottom: none;
  padding: 9px 0 0 9px;
  box-sizing: border-box;
  position: relative;
}

.footer-background .footer__nav-container .item__list:nth-child(1) .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #FF5943;
  transition: 0.3s;
}

.footer-background .footer__nav-container .item__list:nth-child(2):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #FF7F0F;
  transition: 0.3s;
}

.footer-background .footer__nav-container .item__list:nth-child(3):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #00B2FF;
  transition: 0.3s;
}

.footer-background .footer__nav-container .item__list:nth-child(4):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 5px solid #EACCA0;
  transition: 0.3s;
}

.footer-background .footer__nav-container .item__list:nth-child(5):hover .color-line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 6px solid #FFABDB;
  transition: 0.3s;
}

.footer-background .footer__nav-container .item__list:first-child {
  border-bottom: none;
}

.footer-background .footer__nav-container .item__list:last-child {
  border-right: none;
  box-sizing: border-box;
  flex-grow: 4;
}

.footer-background .footer__nav-container .item__list a {
  color: var(--white);
  font-family: var(--font-headline);
  font-weight: 700;
  font-size: 24px;
}

/* footer 메뉴 디테일 */

footer .footer-menus {
  width: var(--width-main);
  margin: auto;
  border: 1px solid var(--lightblue);
  border-bottom: none;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-bottom: 30px;
}

footer .footer-menus .menu {
  padding: 10px;
  flex-basis: 0;
  flex-grow: 1;
  border-right: 1px solid var(--lightblue);
  box-sizing: border-box;
}

footer .footer-menus .menu .item {
  color: var(--white);
  font-family: var(--font-sans);
  font-size: 17px;
  line-height: 1.2;
  box-sizing: border-box;
}

footer .footer-menus .menu .item a {
  color: var(--white);
}

footer .footer-menus .menu .item a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

footer .footer-menus .menu .item a .item__text {
  padding: 7px 0;
}

/* 1열 */

footer .footer-menus .menu:nth-child(1) {
  padding-top: 15px;
  grid-column: 1/4;
}

footer .footer-menus .menu:nth-child(1) .item:nth-child(1) {
  margin-bottom: 12px;
  line-height: 1.5;
}

footer .footer-menus .menu:nth-child(1) .item:nth-child(2) .item__text {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 8px 15px;
  color: var(--blue);
  font-weight: 700;
  border-radius: 20px;
  background-color: var(--white);
}

footer .footer-menus .menu:nth-child(1) .item:nth-child(2) a:hover {
  text-decoration: none;
  filter: brightness(0.9);
}

/* 5열 */

footer .footer-menus .menu:nth-child(5) {
  grid-column: 7/9;
  border-right: none;
}

footer .footer-menus .menu:nth-child(5) .item:nth-child(1) {
  color: var(--yellow);
  font-size: 34px;
  font-family: var(--font-headline);
  font-weight: 700;
}

footer .footer-menus .menu:nth-child(5) .item:nth-child(2) {
  margin: 5px 0 12px 0;
  line-height: 1.5;
}

footer .footer-menus .menu:nth-child(5) .item:nth-child(3) .item__text {
  width: fit-content;
  height: fit-content;
  background-color: var(--yellow);
  padding: 6px 15px;
  border-radius: 20px;
  color: var(--black);
  font-weight: 700;
  display: flex;
}

/* 마지막 줄 */

footer .last-line {
  width: var(--width-main);
  margin: auto;
  padding: 20px 15px 40px 15px;
  border-top: 1px solid var(--lightblue);
  box-sizing: border-box;
  background-color: var(--blue);
  font-family: var(--font-sans);
  font-size: 12px;
  font-weight: 100;
  color: var(--white);
  position: relative;
}

footer .last-line .btn-back {
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: var(--blue);
  padding: 0 12px;
}

footer .last-line .btn-back a {
  color: var(--white);
  display: flex;
}

footer .last-line .btn-back .text {
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  line-height: 40px;
}

footer .last-line .btn-back .material-icons {
  color: var(--blue);
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: var(--white);
  font-size: 40px;
  line-height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  box-sizing: border-box;
}

footer .last-line .btn-back a:hover {
  color: var(--yellow);
}

footer .last-line .btn-back .material-icons:hover {
  background-color: var(--yellow);
}